.Burger {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* justify-content: flex-end; */
    width: 100%;
    margin: 0 auto 1px auto;
    min-height: 0px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
}
/* Workaround to emulate ' justify-content: flex-end ' on .Burger class so the scrollbar works as intended */
.Burger > :first-child {
    margin-top: auto !important;
}

.Burger p {
    font-size: 1.4em;
}

@media (min-width: 300px) and (min-height: 400px) {
    .Burger {
        width: 300px;
        height: 200px;
    }
}

@media (min-width: 300px) and (min-height: 500px) {
    .Burger {
        width: 300px;
        height: 150px;
    }
}

@media (min-width: 300px) and (min-height: 600px) {
    .Burger {
        width: 300px;
        height: 220px;
    }
}

@media (min-width: 300px) and (min-height: 800px) {
    .Burger {
        width: 300px;
        height: 370px;
    }
}

@media (min-width: 400px) and (min-height: 700px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 400px) and (min-height: 800px) {
    .Burger {
        width: 370px;
        height: 390px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 700px) and (min-height: 1000px) {
    .Burger {
        width: 450px;
        height: 590px;
    }
}

@media (min-width: 800px) and (min-height: 1000px) {
    .Burger {
        width: 700px;
        height: 800px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 500px;
        height: 470px;
    }
}

@media (min-width: 1000px) and (min-height: 1300px) {
    .Burger {
        width: 900px;
        height: 930px;
    }
}